<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Salary_DataBase.Properties.Settings.SalaryConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Salary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Salary_DataBase.Properties.Settings.Salary" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>